@import url('https://fonts.google.com/specimen/Open+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
body{
    font-family: "Open sans", sans-serif;
 
}
div{
	height: 10vh;
	background: red;
}
article{
	position: fixed;
	top: 0;left: 0; right: 0;
	background: white;
	text-align: center;
	align-items: center;
	height: 20vh;
}
header{
    font-family: 'PT Serif', serif;
	height: 10vh;
	
	
}
h1{
    text-align: center;
    height: 5vh;
}
h1 img{
    height: 5vh;
    width: 5vh;
}
header {

	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


section{
	padding-top: 20vh;
}

header nav ul {
	display: flex;
}

header nav ul li {
	display: block;
	padding: 0 0.25rem;
}

header nav ul li a {
	display: block;
	padding: 0.5em 0.1rem;
	text-decoration: none;
	color: #090;
	
	border-radius: 0.2rem;
	box-shadow: 0 0 5rem 0.1rem rgba(3, 100, 0, 0.15);
}

header nav ul li a:focus,
header nav ul li a:hover {
	outline: none;
	background: #090;
	color: #FFF;
	transform: translateY(-0.25rem);
   
}
.first{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
	
	
	

}
@media screen and (max-width: 500px) {
  section{
	  padding-top: 30vh;
  }
	article{
	  height: 30vh;
  }
	header{
	 height: 20vh;
	 font-size: 12px;
 }
 h1{
	 height: 10vh;
 }
}